<% if current_seller == nil %>
  <nav class="navbar navbar-dark bg-dark">
    <%= link_to 'Log in', new_seller_session_path, class: "navbar-brand" %><hr>
    <%= link_to 'Sign Up', new_seller_registration_path, method: :get, class: "navbar-brand" %><hr>
  </nav>
<% end %>
<div class="container-fluid">
  <div class="row">
    <% @products.each do |product| %>
        <div class="col-4">
          <center>
            <a href="/products/<%=product.id%>"><%= image_tag product.image.first.variant(resize_to_limit: [250, 250]) %></a><br>
            <table>
              <tbody>
                <tr>
                  <th scope="row">Name </th>
                  <td><%= product.name %></td>
                </tr>
                <tr>
                  <th scope="row">Size </th>
                  <td><%= product.size %></td>
                </tr>
                <tr>
                  <th scope="row">Color </th>
                  <td><%= product.color %></td>
                </tr>
                <tr>
                  <th scope="row">Price </th>
                  <td><%= product.price %></td>
                </tr>
                <tr>
                  <th scope="row">Rent </th>
                  <td><%= product.rent_cost %></td>
                </tr>
                <% unless current_seller.nil? %>
                  <tr>
                    <td>
                      <%= link_to 'Edit', edit_seller_product_path(current_seller, product) %>
                    </td>
                    <td>
                      <%= link_to 'Destroy',seller_product_path(current_seller, product), method: :delete, data: { confirm: 'Are you sure?' } %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </center>
        </div>
    <% end %>
  </div>

  <div class="digg_pagination">
  <div class="page-items">
      <%= will_paginate @products, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
  </div>
</div>
